<ion-header>
  <ion-toolbar>
    <ion-title>menosalumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<!-- Searchbar with value -->
<ion-searchbar placeholder="Ingrese nombre del alumno"></ion-searchbar>


<ion-card >
  <ion-card-header>
    
    <ion-card-title>Nombre del alumno</ion-card-title>
    <img src="/assets/media/img/fotoperfil.jpg">
  </ion-card-header>

  <ion-card-content>
    INFORMACION DEL ALUMNO
  </ion-card-content>
</ion-card>

<div>
  <ion-button expand="full" color="danger">
      Eliminar
  </ion-button>
  <ion-button expand="full" >
      Cancelar
  </ion-button>
</div>

</ion-content>
