<ion-header>
  <ion-toolbar>
    <ion-title>nuevoalumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-item>
      <ion-label position="stacked">Ingrese correo del alumno</ion-label>
      <ion-input placeholder="Correo" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Ingrese nombres del alumno</ion-label>
      <ion-input placeholder="Nombres"  clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Ingrese apellidos del alumno</ion-label>
      <ion-input placeholder="Apellidos" clearInput></ion-input>
    </ion-item>

    <div>
      <ion-button expand="full" slot="end">
          Agregar
      </ion-button>
      <ion-button expand="full" color="danger">
          Cancelar
      </ion-button>
    </div>
   
</ion-content>
