<ion-header>
  <ion-toolbar>
    <ion-title>codigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="centrar">
  
  <ion-card>
    <ion-card-header>
      
      <ion-card-title>ESCANEAME</ion-card-title>
      <div class="letra">
        <img src="/assets/media/img/codigo.jpeg">
      </div>
    </ion-card-header>
  
    <ion-card-content class="clase">
      Por favor abra la app Asis QR Tencia, ingrese con su usuario
      y luego escanee el codigo QR para quedar presente el día de hoy
    </ion-card-content>
  </ion-card>
  
  
</ion-content>
