<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="letra">
      REGISTRAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="letra">
      <img src="https://i.blogs.es/f1c47c/xatakamovilqr/1366_2000.jpg">
    </div>
    <div class="cuerpo">
      <ion-item>
        <ion-label position="stacked">Ingrese su Correo</ion-label>
        <ion-input placeholder="Usuario" clearInput></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Ingrese su clave</ion-label>
        <ion-input placeholder="Clave" type="password" clearInput></ion-input>
      </ion-item>
    </div>

  <div class="boton">
  <ion-button expand="full" routerLink="/personas">Ingresar</ion-button>
  <ion-button expand="full" color="danger">Salir</ion-button>
  </div>
  
</ion-content>
